@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',sans-serif;
}

.container{
    box-sizing: border-box;
}

.header{
    background-color: #591E19;
    color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.header img{
    margin-top: 0;
    width: 24px;
    border: solid 2px #f1f1f1;
    border-radius: 50%;
}

.header h1{
    display: flex;
    margin: auto auto;
}

.header a{
    margin: 0;
}

section{
    background-color: #591E19;
    height: 60vh;
    display:flex;
    justify-content: center;
    flex-wrap: nowrap;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.capa img{
    width: 400px;
}

.titulo-autor{
    height: fit-content;
    margin-top: 20rem;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.titulo{
    font-size: 2.4rem;
}

.autor{
    opacity: 0.7;
}

.infoLivro p{
    font-size: 1.1rem;
    padding: 5px 10px;
    border-right: 2px solid #00000050;

}

.infoLivro{
    display: flex;
    margin: auto auto;
    width: fit-content;
    justify-content: center;
    background-color: #d9d9d9;
    border-radius: 20px;
    padding: 4px 0px;
    box-shadow:5px 5px 6px #00000050;
    margin: 30px auto;
}

.infoLivro p:nth-child(4n){
    border-right: none;
}

.sinopse{
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    justify-content: center;
    width: 95%;
    gap: 15px;
}

.linkCompra{
    display: inline;
    font-size: 1rem;
    color: #000;
    border-radius: 20px;
    width: auto;
    background-color: transparent;
}

.linkCompra:hover{
    transition:all ease 0.1s;
    font-weight: 400;
}

.pLink{
    margin-left: 35px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1rem;
}


p{
    font-size: 1.2rem;
}

.loading::after{
    display: flex;
    text-align: center;
    color: #591E19;
    content: "";
    animation: elipse 1.5s infinite;
}

@keyframes elipse{
    0%{content: ".";}
    33%{content: "..";}
    66%{content: "...";}
}
