@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.imgHome{
  position: relative;
}

.bgImg{
  margin: 0;
  width: 100%;
}

.infoBox{
  background-color: #ffffff86;
  position: absolute;
  top: 300px;
  left: 150px;
  padding: 15px 60px;
  border-radius: 10px;
}

.infoBox h1{
  margin-bottom: 100px;
  color: #591E19;
  font-size: 2.9rem;
  font-weight:900;
}

.infoBox p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  text-decoration: none;
  background-color: #591E19;
  color: #ffffff;
  padding: 7px 5px;
  border-radius: 10px;
  font-size: 1.5rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.btnArrow{
  margin: 5px;
  width: 30px;
}

.slogan{
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px 0px;
}

.slogan h1{
  font-size: 3rem;
  color: #252525;
}

.slogan p{
  color: #252525;
  max-width: 800px;
  font-size: 2rem;
  text-align:center;
 line-height: 1;
 margin-top: 10px;
}


@media (700px <= width <= 1197px) {
  .infoBox{
    top: 100px;
    left: 100px;
  }
}

@media (400px <= width <= 699px) {
  .infoBox{
    top: 40px;
    left: 20px;
    padding: 10px 20px;
  }

  .infoBox h1{
    font-size: 2.3rem;
    margin-bottom: 10px;
  }

  .infoBox a{
    font-size: 1.2rem;
  }

}


